.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slideActive {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* .imageScaled {
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(../img/admin-profileP.png);
    background-size: cover;
    display: block;
    border-radius: 100px;
    border: 2px solid rgba(36, 40, 58, 0.7);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
} */